node_modules
.next

# Local Netlify folder
.netlify

# Uploaded business images (stored on server, not in git)
/public/uploads/businesses/*.jpg
/public/uploads/businesses/*.jpeg
/public/uploads/businesses/*.png
/public/uploads/businesses/*.webp
